*{
    margin: 0;
}

body {
    overflow-y: hidden;
    background: rgb(6,0,115);
    background: linear-gradient(0deg, rgba(6,0,115,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}


#navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    /* for Developpement only */
    background-color: #2f2f2f;
    border: none;
    width: 3rem;
    transition: all 300ms ease-in-out;
}


#navbar:hover {
    transition-duration: 300ms;
    width: 17rem;
}

#main-container {
    display: flex;
    gap : 20px;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: .5rem;
    margin-block: 5%;
    border-radius : 50px;
    font-weight: bold;
    color: black;
    font-size: 1rem;
    border: none;
    margin-inline: 5%;
    background-color: rgba(176, 176, 176, 0.57);
    transition: all 200ms ease-in-out;
}


.buttonText {
    opacity: 0;
    transition: opacity 300ms;
}


#navbar:hover .buttonText {
    opacity: 1
}

#navbar:hover .button {
    transition-duration: 300ms;
    padding: 20px 30px 20px 40px;
}

.fade-in {
    animation: fade-in 200ms ease-in-out;
}

#navbar:hover .modify-button {
    background-color: #d98b02;
}

#navbar:hover .delete-button {
    background-color: #c90303;
}

#navbar:hover .add-button {
    background-color: #019d01;
}

#board-container, #card-container{
    display: flex;
    flex-direction: column;
}

.nameForm {
    display: none;
    flex-direction: column;
    margin-inline: auto;
    justify-content: center;
}

.nameForm>input {
    border: none;
    border-radius: 12px;
    padding: 5%;
}

.nameForm>button {
    border: none;
    background-color: #019d01;
}

textarea:focus, input:focus{
    outline: none;
}

#main-console {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#center-add-button {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

#modal {
    display: grid;
    font-family: "Roboto", serif;
    margin-top: 1rem;
    grid-template-columns: repeat(4, 20rem);
    gap: 100px;
    grid-auto-rows: minmax(20rem, auto);
}


.board {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    max-width: 20rem;
    height: max-content;
    padding-bottom: 2rem;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.5);
}

.titleCard {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
}

.card {
    position: relative;
    background-color: white;
    color: black;
    border-radius: 15px;
    padding-inline:4rem ;
    padding-block: 1.5rem;
    transition: all 100ms ease-in-out;
}

.card:hover {
    transition-duration: 50ms;
    background-color: #f5f5f5;
}


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}