*{
    margin: 0;
}


#navbar {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* for Developpement only */
    background-color: #2f2f2f;
    border: none;
    width: 20%;
}
    
/* Item in div */
#navbar>* {
width: 100%;
}

#main-container {
    display: flex;
    gap : 20px;
}

.button {
    padding : 20px 10px 20px 10px;
    margin-block: 5%;
    border-radius : 50px;
    font-weight: bold;
    color: black;
    font-size: 1rem;
    border: none;
    margin-inline: 5%;
}

.modify-button {
    background-color: #d98b02;
}

.delete-button {
    background-color: #c90303;
}

.add-button {
    background-color: #019d01;
}

#board-container, #card-container{
    display: flex;
    flex-direction: column;
}

.nameForm {
    display: none;
    flex-direction: column;
    margin-inline: auto;
    justify-content: center;
}

.nameForm>input {
    border: none;
    border-radius: 12px;
    padding: 5%;
}

.nameForm>button {
    border: none;
    background-color: #019d01;
}

textarea:focus, input:focus{
    outline: none;
}

#main-console {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#center-add-button {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

#modal {
    display: grid;
    font-family: "Roboto", serif;
    margin-top: 5%;
    grid-template-columns: repeat(4, 20rem);
    
    gap: 100px;
    grid-auto-rows: minmax(20rem, auto);
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: gray;
    max-width: 20rem;
    max-height: 25rem;
    border-radius: 12px;
}

.card {
    background-color: #fffcfc;
    color: black;
    border-radius: 15px;
    padding-inline:4rem ;
    padding-block: 1.5rem;
}

