<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
             <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                         <meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/index.css">   
<script src="js/index.js" defer></script>

</head>
<body>
<div id="main-container">
<div id="navbar">
    <div id="main-console">
        <div id="board-container">
            <button class="modify-button button">Modify a Board</button>
            <form class="nameForm">
                <input type="text" id="nameInput" placeholder="Board name" required>
                <div id="center-add-button">
                    <button id="add-submit" type="submit">Submit</button>
                </div>
            </form>

            <button class="delete-button button">Delete a Board</button>
            <form id="del-nameForm" class="nameForm">
                <input type="text" id="nameInput" placeholder="Board name" required>
                <div id="center-add-button">
                    <button id="add-submit" type="submit">Submit</button>
                </div>
            </form>

            <button class="add-button button">Add a new Board</button>
            <form id="add-nameForm" class="nameForm">
                <input type="text" id="add-nameInput" placeholder="Board name" required>
                <div id="center-add-button">
                    <button id="add-submit" type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div id="card-container">
            <button class="separator add-button button">Add a new Card</button>
            <form class="nameForm">
                <input type="text" id="nameInput" placeholder="Card name" required>
                <div id="center-add-button">
                    <button id="add-submit" type="submit">Submit</button>
                </div>
            </form>

            <button class="modify-button button">modify a Card</button>
            <form class="nameForm">
                <input type="text" id="nameInput" placeholder="Card name" required>
                <div id="center-add-button">
                    <button id="modify-submit" type="submit">Submit</button>
                </div>
            </form>

            <button class="delete-button button">Delete a card</button>
            <form class="nameForm">
                <input type="text" id="nameInput" placeholder="Card name" required>
                <div id="center-add-button">
                    <button id="delete-submit" type="submit">Submit</button>
                </div>
            </form>
        </div>
        

    </div>
</div>
<div id="modal"></div>
</div>
</body>
</html>